<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@cliente.list.headline">Clientes</h1>
    <div>
        <a routerLink="/clientes/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@cliente.list.createNew">Create new Cliente</a>
    </div>
</div>
@if (!clientes || clientes.length === 0) {
<div i18n="@@cliente.list.empty">No Clientes could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@cliente.sharedKey.label">Shared Key</th>
                <th scope="col" class="text-left p-2" i18n="@@cliente.businessId.label">Business Id</th>
                <th scope="col" class="text-left p-2" i18n="@@cliente.email.label">Email</th>
                <th scope="col" class="text-left p-2" i18n="@@cliente.phone.label">Phone</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (cliente of clientes; track cliente.sharedKey) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ cliente.sharedKey }}</td>
                <td class="p-2">{{ cliente.businessId }}</td>
                <td class="p-2">{{ cliente.email }}</td>
                <td class="p-2">{{ cliente.phone }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/clientes/edit', cliente.sharedKey]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@cliente.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(cliente.sharedKey!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@cliente.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
