<aside id="sidebar"
       class="container fixed left-0 z-40 w-64 pl-4 h-screen transition-transform -translate-x-full md:translate-x-0 max-md:bg-white max-md:mt-1">
    <img src="client.svg" alt="Client icon" class="ml-1 size-10 inline-block">
    <h1 class="inline-block grow text-3xl md:text-4xl font-medium text-center align-middle text-sky-400"
        i18n="@@cliente.list.headline">Clients</h1>
    <div id="navbarToggle" class="h-full pl-11 py-4 overflow-y-auto bg-gray-50">
        <ul class="space-y-2">
            <li>
                <a routerLink="/clientes" class="block text-gray-700 hover:font-bold p-2" i18n="@@navigation.home">Clients</a>
            </li>
            <li>
                <a routerLink="/" class="block text-gray-700 hover:font-bold p-2" i18n="@@navigation.home">Client look
                    history</a>
            </li>
            <li>
                <a routerLink="/" class="block text-gray-700 hover:font-bold p-2" i18n="@@navigation.home">Emergency PIN
                    configuration</a>
            </li>
            <li>
                <a routerLink="/" class="block text-gray-700 hover:font-bold p-2" i18n="@@navigation.home">Emergency PIN
                    history</a>
            </li>
        </ul>
    </div>
</aside>
<!-- Botón de menú -->
<button id="menuToggle" type="button" class="absolute top-4 left-4 z-50 md:hidden border-2 border-gray-400 rounded"
        data-dropdown-keepopen="true" i18n-aria-label="@@navigation.toggle" aria-label="Toggle navigation"
        aria-controls="navbarToggle" aria-expanded="false">
    <div class="space-y-1.5 my-2.5 mx-4">
        <div class="w-6 h-0.5 bg-gray-400"></div>
        <div class="w-6 h-0.5 bg-gray-400"></div>
        <div class="w-6 h-0.5 bg-gray-400"></div>
    </div>
</button>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const menuToggle = document.getElementById("menuToggle");
        const sidebar = document.getElementById("sidebar");

        menuToggle.addEventListener("click", () => {
            sidebar.classList.remove("-translate-x-full");
        });
    });
</script>
